.game-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  background: #222;
  transition: width 0.5s linear;
  &__header {
    font-size: 3.5rem;
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
  }
}

.game {
  height: 100%;
  display: flex;
  padding: 5rem 5rem;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    backface-visibility: hidden;

    // justify-content: center;
    color: white;
    letter-spacing: 0.7rem;
    flex-basis: 30%;
    height: 30vw;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2),
      0px -0.7rem 2.5rem rgba(0, 0, 0, 0.171);
    font-size: 3rem;
    font-family: Righteous;
    cursor: pointer;
    position: relative;

    &--loader {
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(0%);
      height: 60px;
      width: 100%;
      z-index: -1;
      border-radius: 0.8rem 0.8rem 0 0;
      transition: transform 0.3s ease-in;

      &--show {
        transform: translateY(-80%);
      }

      &:after {
        content: 'Loading';
        animation: loading 2s infinite;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
        font-size: 1.2rem;
        font-family: joystix;
      }

      &:after,
      &:before {
        position: absolute;
      }
    }

    > img {
      width: 100%;
      height: auto;
      border-radius: 0.7rem 0.7rem 0 0;
    }
  }
}

#pacman,
#flappybird,
#somegame {
  > .game__card--loader {
    background: inherit;
  }
}

@keyframes loading {
  0% {
    content: 'Loading';
  }

  25% {
    content: 'Loading.';
  }

  50% {
    content: 'Loading..';
  }

  75% {
    content: 'Loading...';
  }

  100% {
    content: 'Loading';
  }
}
